@model med_webb_CapaDato.Modelado.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h2>Eliminar Cliente</h2>

<h3>¿Está seguro que desea eliminar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
</div>