<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="med_webb_database" connectionString="metadata=res://*/Modelado.Entidad_Relacion.csdl|res://*/Modelado.Entidad_Relacion.ssdl|res://*/Modelado.Entidad_Relacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4S3P4QC\SQLEXPRESS;initial catalog=med_webb_database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Med_Webb_Database" connectionString="metadata=res://*/Modelado.Entidad_Relacion.csdl|res://*/Modelado.Entidad_Relacion.ssdl|res://*/Modelado.Entidad_Relacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4S3P4QC\SQLEXPRESS;initial catalog=Med_Webb_Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>